/* Hard Reset */
/* Reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit ;
            box-sizing: inherit ;
}
:root {
    --pampas:#f8f7f4;
    --main-bg-color: var(--pampas);
    --header-bg-color: var(--main-bg-color);
    --header-link-color: #000;
    --header-Search-bg-color: #f4f5fb;
    --header-Search-icon: #6e6d7a;
    --header-blanco:#fff;
    --html-font-size: 62.5%;
    --px-2rem4: 2.4rem;
    --fs-2-rem: 2rem;
    --pading-4r: 4rem;
    --f1-6-rem: 1.6rem;
}
html {
    -webkit-box-sizing: border-box ;
            box-sizing: border-box ;
    font-size: var(--html-font-size);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--f1-6-rem);
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--pading-4r);
    padding-right: var(--pading-4r);
    height: 10rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--header-bg-color);
}

header ul {
    display:flex;
    flex: 1;
    list-style-type: none;
}

header ul li a {
    width: 100%;
    color: var(--header-link-color);
    padding-left:  var(--f1-6-rem);
    padding-right: var(--f1-6-rem);
    text-decoration: none;
}
.menu-izq {
    display: flex;
    list-style-type: none;
}
@media screen and (max-width: 948px) {
    .menu-izq{
        display:none;
    }
}
.menu-der {
    display: flex;
    height: 4.8rem;
    justify-content: flex-end; 
}
.Search {
    display: flex;
    align-items: center;
    width: 28.5rem;
    background-color: var(--header-Search-bg-color);
    border-radius: var(--px-2rem4) ;
    padding: 0 var(--px-2rem4);
}
.Search>input {
    border: none;
    background-color: transparent;
}
@media screen and (max-width: 948px) {
    .Search>input{
        display:none;
    }
}
.Search>input:focus {
    border: none;
    outline: none;
}
.Search-icon {
    margin-right: 1rem;
    height: var(--f1-6-rem);
    width: var(--f1-6-rem);
    fill: var(--header-Search-icon);
}
.login {
    margin: 0 var(--fs-2-rem);
}
@media screen and (max-width: 948px) {
    .login{
        display:none;
    }
}
.SignUp {
    display: flex;
    align-items: center;
    background-color: #0d0c2e;
    border-radius: 2.4rem;
    padding: 0 2rem;
    text-decoration: none;
    color: #fff;   
}
.login {
    padding-top: var(--fs-2-rem); 
    padding-bottom: var(--fs-2-rem); 
}
header > a img {
margin: 0 var(--fs-2-rem);    
}
.hero {
    margin: 0 auto;
    padding-top: 8rem;
    width: 92vw;
    height: 95vh;
}
.hero-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.hero-container > h5 {
    display: flex;
    align-items: center;
    height: var(--pading-4r);
    padding: 1rem 1.6rem;
    border-radius: 2rem;
    background-color: #ffda79;
}
.hero-container > h2 {
    text-align: center;
    display: block;
    font-family:  Georgia, serif;
    font-size: 7.2rem;
    font-weight: 40rem;
    margin-right: 6.4rem;
    margin-left: 6.4rem;
    margin-top: 4rem;
}
.hero-container > h3 {
    display: flex;
    align-items: center;
    height: var(--pading-4r);
    padding: 2rem 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.get-star {
    display: flex;
    align-items: center;
    background-color: #0d0c2e;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    color: #fff;  
    
}
.explore {
    margin: 4rem 6rem;   
}
.explore>h3 {
    text-align: center;
    font-size: 4.8rem;
}
.card-image{
    width: 25rem;
    height: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display:flex;
    justify-content: space-between;
}
.card-details{
    display:flex;
    justify-content: space-between;
}
.card-icons-container{
    display:flex;
    justify-content: space-between;
}
.grid-items {
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
}
.div-profile { 
    width: 27.3rem; 
    height: 34rem; 
    position: relative;
    background-color: #6e6d7a;
    border-radius:  2.3rem; 
    margin-top: 10rem;
    margin-left: 4rem;
}
.div-profile > div {
    position: absolute; 
    bottom: 2rem; 
    left: 2rem; 
    z-index: 0; 
    color: #fff;     
}
.div-profile >div > h3 {
    margin-bottom: 1rem;
}
.div-profile >div >div {
    margin-bottom: 1rem;
}
.ul-profile{
    display: flex; 
    list-style-type: none; 
    gap: 1rem;
    align-items: center;
    padding: .5rem 0;
    font-size: 1.2rem;
}
.ul-profile li{
    padding: .5rem 1.6rem;
    border-radius: 2rem;
    border: .1rem solid #fff;
    text-align: center;
}
.find {
    margin:0 auto;
    padding-top: 8rem;
    width: 92vw;
    height: 95vh;
    background-color: #ffda79; 
}
.find-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.get2-star{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    color: #000;
    border: .1rem solid #0d0c2e ;  
}
.get3-star{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    color: #000; 
}
.imagenes{
    display:flex;
    justify-content: space-between;
}